# xcode noise
build/*
build
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.tmproj
build
Build
Products
xcuserdata
xcuserdata/*
project.xcworkspace
project.xcworkspace/*

# osx noise
.DS_Store
profile
 
RADAR.txt
 
anticrack_scan_result.h
 
*.pdf
todo
.DS_Store
src/Three20/*.h
src/Three20Core/*.h
src/Three20Network/*.h
src/Three20Style/*.h
src/Three20UICommon/*.h
src/Three20UINavigator/*.h
src/Three20UI/*.h